@model  Student
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/profile.css" />
<div class="center row m-auto w-75">
    <!-- left side -->
    <div class="additional col-12 col-md-5 col-sm-12 p-1">
        <div class="user-card flex align-items-center text-center">
            <img src="~/images/@Model.Picture"  class="user-photo" alt="user image" />
            <div class="name fs-5 text-white">@Model.FirstName  @Model.LastName</div>
            <div class="year fs-6 text-white">@Model.Year Year</div>
        </div>
    </div>
    <!-- Right side -->
    <div class="general col-12 col-md-7 col-sm-12 d-flex justify-content-around flex-column">
        <h1 class="col-12 text-center">@Model.FirstName  @Model.LastName</h1>
        <div class="row">
            <h4 class="col-12 col-md-5">Birth date:</h4>
            <h4 class="col-12 col-md-7 text-center">@Model.birthday.ToString("MM/dd/yyyy")</h4>
        </div>
        <div class="row">
            <h4 class="col-12 col-md-5">gender:</h4>
            <h4 class="col-12 col-md-7 text-center">@Model.Gender</h4>
        </div>
        <div class="row">
            <h4 class="col-12 col-md-5">Phone:</h4>
            <h4 class="col-12 col-md-7 text-center">@Model.Phone</h4>
        </div>
        <div class="row">
            <h4 class="col-12 col-md-5">National_Id:</h4>
            <h4 class="col-12 col-md-7 text-center">@Model.national_Id</h4>
        </div>
        <div class="row">
            <h4 class="col-12 col-md-6">Father Phone:</h4>
            <h4 class="col-12 col-md-6 text-center">@Model.FatherPhone</h4>
        </div>
        <a class="btn btn-primary w-75 center align-self-center" asp-action="Edit" asp-controller="Profile" asp-route-sId=@Model.Id>
            <i class="fa-solid fa-pen-to-square"></i>Edit
        </a>
    </div>
</div>
